@model BeerReviews.Models.Beer

@{
    ViewBag.Title = "Delete beer";
}

<h2>Delete beer</h2>

<h3>Are you sure you want to delete this beer?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Abv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IBU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IBU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gravity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gravity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Image
        </dt>

        <dd>
            <img alt="@Model.Name" src="@Model.ImageUrl" height="50" width="50" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StyleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StyleID)
        </dd>

        <dt>
            Brewed by
        </dt>

        <dd>
            @if (!Model.BeerBreweries.Where(bb => !bb.isPlace).Any())
            {
                <span>N/A</span>
            }
            @foreach (var it in Model.BeerBreweries.Where(bb => !bb.isPlace))
            {
                <a href="@Url.Action("Details","Brewery", new { id = it.BreweryID })">
                    @Html.DisplayFor(modelItem => it.Brewery.Name)
                </a>
            }
        </dd>

        <dt>
            Brewed in
        </dt>

        <dd>
            @if (!Model.BeerBreweries.Where(bb => bb.isPlace).Any())
            {
                <span>N/A</span>
            }
            @foreach (var it in Model.BeerBreweries.Where(bb => bb.isPlace))
            {
                <a href="@Url.Action("Details","Brewery", new { id = it.BreweryID })">
                    @Html.DisplayFor(modelItem => it.Brewery.Name)
                </a>
                @it.Brewery.City;
                <span>-</span>
                @it.Brewery.Country.Name;
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
