@model BeerReviews.Database.Models.Brewery

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <img alt="@Model.Name" src="@Model.ImageUrl" height="200" width="200" />
    <dl class="dl-horizontal">
        @if (Model.Phone != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
        }
        @if (Model.Description != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        }
        @if (Model.Street != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Street)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>
        }
        @if (Model.PostalCode != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PostalCode)
            </dd>
        }
        @if (Model.City != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>
        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BreweryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h3>Beers brewed by @Html.DisplayFor(model => model.Name):</h3>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.ActionLink("Name", "Details", new { sortOrder = ViewBag.NameSortParm, place = false })
        </th>
        <th>
            Brewed by
        </th>
        <th>
            Brewed in
        </th>
        <th>
            @Html.ActionLink("Abv", "Details", new { sortOrder = ViewBag.AbvSortParm, place = false })
        </th>
        <th>
            @Html.ActionLink("Gravity", "Details", new { sortOrder = ViewBag.GravitySortParm, place = false })
        </th>
        <th>
            @Html.ActionLink("Style", "Details", new { sortOrder = ViewBag.StyleSortParm, place = false })
        </th>
        <th>
            @Html.ActionLink("Reviews count", "Details", new { sortOrder = ViewBag.ReviewsSortParm, place = false })
        </th>
        <th>
            @Html.ActionLink("Avg rating", "Details", new { sortOrder = ViewBag.AvgSortParm, place = false })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.BeerBreweries.Where(bb => !bb.isPlace))
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id = item.BeerID })">
                    <img alt="@item.Beer.Name" src="@item.Beer.ImageUrl" height="50" width="50" />
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Beer", new { id = item.BeerID })">
                    @Html.DisplayFor(modelItem => item.Beer.Name)
                </a>
            </td>
            <td>
                @if (!item.Beer.BeerBreweries.Where(bb => !bb.isPlace).Any())
                {
                    <span>N/A</span>
                }
                @foreach (var it in item.Beer.BeerBreweries.Where(bb => !bb.isPlace))
                {
                    <a href="@Url.Action("Details", "Brewery", new { id = it.BreweryID })">
                        @if (it.BreweryID == Model.BreweryID)
                        {
                            @Html.DisplayFor(modelItem => Model.Name);
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => it.Brewery.Name)
                        }
                    </a>
                }

            </td>
            <td>
                @if (!item.Beer.BeerBreweries.Where(bb => bb.isPlace).Any())
                {
                    <span>N/A</span>
                }
                @foreach (var it in item.Beer.BeerBreweries.Where(bb => bb.isPlace))
                {
                    <a href="@Url.Action("Details", "Brewery", new { id = it.BreweryID })">
                        @if (it.BreweryID == Model.BreweryID)
                        {
                            @Html.DisplayFor(modelItem => Model.Name);
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => it.Brewery.Name)
                        }
                    </a>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beer.Abv)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beer.Gravity)
            </td>
            <td>
                <a href="@Url.Action("Details", "Style", new { id = item.Beer.StyleID })">
                    @Html.DisplayFor(modelItem => item.Beer.Style.Name)
                </a>
            </td>
            <td>
                @item.Beer.Reviews.Count()

            </td>
            <td>
                @{var avg = 0.0;
                }
                @if (item.Beer.Reviews.Count() > 0)
                {

                    foreach (var r in item.Beer.Reviews)
                    {
                        avg += r.Overall;
                    }
                    avg = avg / item.Beer.Reviews.Count();
                    <span>@avg.ToString("N1")</span>
                }

            </td>
            <td>
                @if (item.Beer.isLocked != true)
                {
                    @Html.ActionLink("Edit |", "Edit", "BeerBrewery", new { id = item.BeerID }, null)
                }
                @Html.ActionLink("Delete", "Delete", new { id = item.BeerID })
            </td>
        </tr>
                    }
</table>

<h3>Beers brewed in @Html.DisplayFor(model => model.Name):</h3>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.ActionLink("Name", "Details", new { sortOrder = ViewBag.NameSortParm, place = true })
        </th>
        <th>
            Brewed by
        </th>
        <th>
            Brewed in
        </th>
        <th>
            @Html.ActionLink("Abv", "Details", new { sortOrder = ViewBag.AbvSortParm, place = true })
        </th>
        <th>
            @Html.ActionLink("Gravity", "Details", new { sortOrder = ViewBag.GravitySortParm, place = true })
        </th>
        <th>
            @Html.ActionLink("Style", "Details", new { sortOrder = ViewBag.StyleSortParm, place = true })
        </th>
        <th>
            @Html.ActionLink("Reviews count", "Details", new { sortOrder = ViewBag.ReviewsSortParm, place = true })
        </th>
        <th>
            @Html.ActionLink("Avg rating", "Details", new { sortOrder = ViewBag.AvgSortParm, place = true })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.BeerBreweries.Where(bb => bb.isPlace))
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id = item.BeerID })">
                    <img alt="@item.Beer.Name" src="@item.Beer.ImageUrl" height="50" width="50" />
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Beer", new { id = item.BeerID })">
                    @Html.DisplayFor(modelItem => item.Beer.Name)
                </a>
            </td>
            <td>
                @if (!item.Beer.BeerBreweries.Where(bb => !bb.isPlace).Any())
                {
                    <span>N/A</span>
                }
                @foreach (var it in item.Beer.BeerBreweries.Where(bb => !bb.isPlace))
                {
                    <a href="@Url.Action("Details", "Brewery", new { id = it.BreweryID })">
                      
                        @if (it.BreweryID == Model.BreweryID)
                        {
                            @Html.DisplayFor(modelItem => Model.Name);
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => it.Brewery.Name)
                        }
                    </a>
                }

            </td>
            <td>
                @if (!item.Beer.BeerBreweries.Where(bb => bb.isPlace).Any())
                {
                    <span>N/A</span>
                }
                @foreach (var it in item.Beer.BeerBreweries.Where(bb => bb.isPlace))
                {
                    <a href="@Url.Action("Details", "Brewery", new { id = it.BreweryID })">
                        @if (it.BreweryID == Model.BreweryID)
                        {
                            @Html.DisplayFor(modelItem => Model.Name);
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => it.Brewery.Name)
                        }
                    </a>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beer.Abv)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beer.Gravity)
            </td>
            <td>
                <a href="@Url.Action("Details", "Style", new { id = item.Beer.StyleID })">
                    @Html.DisplayFor(modelItem => item.Beer.Style.Name)
                </a>
            </td>
            <td>
                @item.Beer.Reviews.Count()

            </td>
            <td>
                @{var avg = 0.0;
                }
                @if (item.Beer.Reviews.Count() > 0)
                {

                    foreach (var r in item.Beer.Reviews)
                    {
                        avg += r.Overall;
                    }
                    avg = avg / item.Beer.Reviews.Count();
                    <span>@avg.ToString("N1")</span>
                }

            </td>
            <td>
                @if (item.Beer.isLocked != true)
                {
                    @Html.ActionLink("Edit |", "Edit", "BeerBrewery", new { id = item.BeerID }, null)
                }
                @Html.ActionLink("Delete", "Delete", new { id = item.BeerID })
            </td>
        </tr>
                    }
</table>