@model BeerReviews.Database.Models.StyleNewBB

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Name) + " details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>


<h4>@Html.DisplayFor(model => model.CategoryName)</h4>
<hr />
<p>
    @Html.DisplayFor(model => model.Description)
</p>


<p>
@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.StyleID }) <span>|</span>
    @Html.ActionLink("Delete", "Delete", new { id = Model.StyleID })    <span>|</span>
}
    @Html.ActionLink("Back to List", "Index")
</p>

<h3>@Html.DisplayFor(model => model.Name) beers:</h3>
@if (User.Identity.IsAuthenticated)
{
<p>
    @Html.ActionLink("Create New", "Create", "BeerBrewery", new { styleID = Model.StyleID }, null)
</p>
}
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.ActionLink("Name", "Details", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Brewed by
        </th>
        <th>
            Brewed in
        </th>
        <th>
            @Html.ActionLink("Abv", "Details", new { sortOrder = ViewBag.AbvSortParm })
        </th>
        <th>
            @Html.ActionLink("Gravity", "Details", new { sortOrder = ViewBag.GravitySortParm })
        </th>
        <th>
            @Html.ActionLink("Reviews count", "Details", new { sortOrder = ViewBag.ReviewsSortParm })
        </th>
        <th>
            @Html.ActionLink("Avg rating", "Details", new { sortOrder = ViewBag.AvgSortParm })
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model.Beers)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", new { id = item.BeerID })">
                    <img alt="@item.Name" src="@item.ImageUrl" height="50" width="50" />
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details","Beer", new { id = item.BeerID })">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                @if (!item.BeerBreweries.Where(bb => !bb.isPlace).Any())
                {
                    <span>N/A</span>
                }
                @foreach (var it in item.BeerBreweries.Where(bb => !bb.isPlace))
                {
                    <a href="@Url.Action("Details", "Brewery", new { id = it.BreweryID })">
                        @Html.DisplayFor(modelItem => it.BreweryName)
                    </a>
                }

            </td>
            <td>
                @if (!item.BeerBreweries.Where(bb => bb.isPlace).Any())
                {
                    <span>N/A</span>
                }
                @foreach (var it in item.BeerBreweries.Where(bb => bb.isPlace))
                {
                    <a href="@Url.Action("Details", "Brewery", new { id = it.BreweryID })">
                        @Html.DisplayFor(modelItem => it.BreweryName)
                    </a>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abv)%
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gravity)
            </td>
            <td>
                @item.ReviewsCount

            </td>
            <td>
                @if (item.ReviewsCount > 0)
                {
                    <span>@item.ReviewsAvg.ToString("N1")</span>
                }

            </td>
            <td>
                @if (item.isLocked != true && User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Edit |", "Edit", "BeerBrewery", new { id = item.BeerID }, null)
                }
            </td>
        </tr>
    }

</table>